<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [1]:
print("Hello World Python")

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [2]:
Pertambahan = 28 + 47
print(Pertambahan)

75

In [3]:
Perkurangan = 234 - 58
print(Perkurangan)

176

In [4]:
Perkalian = 27 * 23
print(Perkalian)

621

In [5]:
Pembagian = 270 / 10
print(Pembagian)

27.0

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [6]:
a = 256
b = 8

Z = int(a/b)
print(Z)
type(Z)

32

int

In [7]:
a = 256 
b = 8

S = a/b
print(S)
type(S)

32.0

float

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lastname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science dasar.'

In [8]:
greeting = 'Hello sanbercode, saya '
fname = 'Mochamad Bukhori '
lname = 'Zainun! '
pernyataan = 'saya siap belajar python data science dasar.'
print(greeting + fname + lname + pernyataan)

Hello sanbercode, saya Mochamad Bukhori Zainun! saya siap belajar python data science dasar.

Expected Output :

Hello sanbercode, saya Afrida Hafizhatul Ulum! saya siap belajar python data science dasar.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [9]:
usia = 30
kata = 'usiaku: '
print(kata + str(usia) + ' tahun')

usiaku: 30 tahun

Expected Output : (sesuai usia masing-masing)

usiaku: 28 tahun